# Global
*
!.gitignore

# Folders
!/.vscode
!/components
!/lib
!/pages
!/posts
!/public
!/structs

# Files
!/.eslintrc.json
!/.prettierignore
!/.yarnrc.yml
!/jest.config.js
!/next-env.d.ts
!/next.config.js
!/package.json
!/tsconfig.json
!/yarn.lock

# Generated
!/.yarn
!/.yarn/plugins
!/.yarn/plugins/**/*
!/.yarn/releases
!/.yarn/releases/**/*
!/.yarn/sdks
!/.yarn/sdks/**/*
