/* -----------------------------------------------------------------------------
 * Variables
 * ---------------------------------------------------------------------------*/

:root {
  --dark-gray: #313131;
  --intermediary-gray: #747474;
  --light-gray: #dedede;
  --off-black: #1f1f1f;
  --off-white: #f5f5f5;
}

/* -----------------------------------------------------------------------------
 * Elements
 * ---------------------------------------------------------------------------*/

*:not(pre) > code {
  background-color: var(--light-gray);
  padding: 0.1875rem 0.25rem;
}

a {
  color: unset;
}

blockquote {
  background: var(--off-white);
  border-left-color: var(--off-black);
  border-left-style: solid;
  border-left-width: 0.25rem;
  margin: 1rem 0;
  overflow: auto;
  padding: 0 2rem;
}

body {
  color: var(--off-black);
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 42rem;
  padding: 2rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

header svg {
  height: 1.5rem;
  width: 1.5rem;
}

hr {
  border-color: var(--light-gray);
  border-style: solid;
  border-width: 0.03125rem;
  margin: 1.245rem 0;
}

li {
  margin: 0.25rem 0;
}

code.hljs.hljs {
  background: var(--dark-gray);
  overflow: scroll;
  margin: 1rem 0;
  padding: 1rem;
  color: white;
}

svg {
  display: block;
  fill: currentColor;
}

/* -----------------------------------------------------------------------------
 * Classes
 * ---------------------------------------------------------------------------*/

.gray {
  color: var(--intermediary-gray);
}

.post-list {
  list-style: none;
  padding-left: 0;
}

.post-list a {
  text-decoration: none;
}

.post-list h2,
h3 {
  margin: 0.5rem 0;
}

.post-list p {
  margin-top: 0;
}

.stack {
  column-gap: 1rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}
